body {
    color: #dcdbdb;
}

input, select {
    background-color: darkred;
    border-radius: 15px;
    text-align: center;
    color: #dcdbdb;
}

input::placeholder, select::placeholder {
    color: #b9b7b7;
}

/*************** HEADER ***************/
.principal {
    background-color: rgba(65, 1, 1, 0.60);
}
/** Liste de lien **/
.nav a {
    font-size: 1.2rem;
    color: #dcdbdb;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(213, 4, 4, 0.50);
    transition-duration: 0.5s;
}

.nav a:active {
    background-color: rgba(110, 3, 3, 0.5);
    color: #5e5d5d;
    transition-duration: 0s;
}

/** Lien de catégorie **/
ul.menu_categorie a {
    color: #dcdbdb;
    text-decoration: none;
}

ul.menu_categorie a:hover {
    background-color: rgba(213, 4, 4, 0.50);
    transition-duration: 0.5s;
}

ul.menu_categorie a:active {
    background-color: rgba(110, 3, 3, 0.5);
    color: #5e5d5d;
    transition-duration: 0s;
}

ul.menu_categorie input#selectMenu{
    color: #dcdbdb;
    text-decoration: none;
    background: none;
    padding-inline: 10px;
    border-radius: 15px;
}

ul.menu_categorie input#selectMenu:hover {
    background-color: rgba(213, 4, 4, 0.50);
    transition-duration: 0.5s;
}

ul.menu_categorie input#selectMenu:active {
    background-color: rgba(110, 3, 3, 0.5);
    color: #5e5d5d;
    transition-duration: 0s;
}

/*************** FIN HEADER ***************/



/*************** FOOTER ***************/
.footer_principal {
    background-color: rgba(65, 1, 1, 0.60);
}

/*************** FIN FOOTER ***************/



/*************** PAGE ADMIN ***************/
/* Formulaires */
#form-ajout {
    border: 2px solid darkred;
    text-align: center;
}

/* Boutons d'actions */
section#action_admin input, #btnSubmitLogin, #btnResetLogin, #btnOkReserv {
    font-family: "Times New Roman", sans-serif;
    font-size: 1rem;
    color: #dcdbdb;
    text-decoration: none;
    cursor: pointer;
    border: solid 2px darkred;
    padding: 7px;
    border-radius: 15px;
    background-color: darkred;
}

section#action_admin input:hover, #btnSubmitLogin:hover, #btnResetLogin:hover, #btnOkReserv:hover {
    background-color: rgba(70, 14, 14, 0.5);
    transition-duration: 0.5s;
}

section#action_admin input:active, #btnSubmitLogin:active, #btnResetLogin:active, #btnOkReserv:active {
    background-color: rgba(110, 3, 3, 0.5);
    color: #5e5d5d;
    transition-duration: 0s;
}

/*************** FIN PAGE ADMIN ***************/



/*************** PAGE VUE_CONCERT ***************/
.retourIndex a, #btnOkReserv {
    background-color: darkred;
}

.retourIndex a:hover, #btnOkReserv:hover {
    background-color: rgba(213, 4, 4, 0.50);
    transition-duration: 0.5s;
}

.retourIndex a:active, #btnOkReserv:active {
    background-color: rgba(110, 3, 3, 0.5);
    color: #5e5d5d;
    transition-duration: 0s;
}

/*************** FIN PAGE VUE_CONCERT ***************/

